
#nprogress .bar {
    height: 6px;
    background: #27c4f5 linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
    background-size: 500%;
    animation: 2s linear infinite barprogress, .3s fadein;
    width: 100%;
}

@keyframes barprogress {
    0% {
        background-position: 0% 0
    }
    to {
        background-position: 125% 0
    }
}

#nprogress .spinner-icon {
    border-top-color: cyan;
    border-left-color: cyan;
}
