/* Buttons */

.btn {
  font-size: $btn-font-size;
  line-height: 1;
  font-weight: 400;
  &.btn-rounded {
    @include border-radius(50px);
  }
  &.btn-sm {
    font-size: $btn-font-size-sm;
  }
  &.btn-lg {
    font-size: $btn-font-size-lg;
  }
  &.btn-xs {
    padding: $btn-padding-y-xs $btn-padding-x-xs;
    font-size: $btn-font-size-xs;
  }

  &.is_link {
    position: relative;
    i {
      position: absolute;
      top: 18%;
      left: 30%;
    }
  }

  /* Buttons with only icons */
  &.btn-icon {
    width: 40px;
    height: 40px;
    padding: 0;
    i {
      font-size: 1.5rem;
    }
  }
  /* Buttons with icon and text */
  &.btn-icon-text {
    .btn-icon-prepend {
      margin-right: 0.5rem;
    }
    .btn-icon-append {
      margin-left: 0.5rem;
    }
  }
  &.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
  }
}

.btn-group {
  .btn {
    + .btn {
      border-left: 0;
    }
    margin: 0;
  }
}

.btn-toolbar {
  .btn-group {
    + .btn-group {
      @extend .ml-2;
    }
  }
}
/*social buttons*/
@each $color, $value in $social-colors {
  .btn-#{$color} {
    @include social-button(social-color($color));
  }
  .btn-outline-#{$color} {
    @include social-outline-button(social-color($color));
  }
}
/* inverse buttons */
@each $color, $value in $theme-colors {
  .btn-inverse-#{$color} {
    @include button-inverse-variant($value);
  }
  .btn-#{$color} {
    &,
    &:hover {
      box-shadow: 0 2px 2px 0 rgba(theme-color($color), 0.14),
        0 3px 1px -2px rgba(theme-color($color), 0.2),
        0 1px 5px 0 rgba(theme-color($color), 0.12);
    }
  }
}

.btn-light {
  background-color: #e0e0e0 !important;
  color: #000 !important;

  &:hover {
    background-color: #ededed;
  }
  &.focus,
  &:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }

  &.active,
  &:active,
  &:focus {
    background-color: #adadad;
  }

  &:not([disabled]):not(.disabled) {
    &.active,
    &:active {
      -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
      background-color: #adadad !important;
    }
  }
}

.fixed-action-btn {
  position: fixed;
  z-index: 998;
  right: 35px;
  bottom: 35px;
  margin-bottom: 0;
}
