.carnet {
    overflow: hidden;
    width: 8.6cm;
    height: 5.6cm;
    display: inline-block;
}

.carnet>img {
    position: absolute;
    z-index: -100;
    width: 8.6cm;
    height: 5.6cm;
    page-break-inside: avoid;
}

.carnet .qr-wrapper {
    display: block;
    position: absolute;
    width: 3.5cm;
    height: 3.5cm;
    margin-top: 1.1cm;
    margin-left: 0.1cm;
    z-index: 10;
}

.carnet .qr-wrapper img {
    width: 85%;
    margin-left: 2mm;
    margin-top: 2mm;
}

.carnet .user {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 2.6cm;
    height: 2.9cm;
    margin-left: 5.43cm;
    padding: 0;
}

.carnet .user img {
    width: 2.6cm;
    margin-top: 0.5cm;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.carnet p.dni {
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    color: #0B1C2E;
    margin-left: 0.2cm;
    margin-top: 2.6cm;
    transform: rotate(90deg);
    letter-spacing: 1mm;
}

.carnet .data {
    width: 3.7cm;
    height: 2cm;
    overflow: hidden;
    margin-top: -0.2cm;
    margin-left: 4.85cm;
    text-align: center;
}

.carnet .data span.name {
    display: block;
    color: #223e9c;
    font-size: 3mm;
}

.carnet .data .title {
    margin-top: 1mm;
    color: #de6134;
    font-size: 2.5mm;
}

.carnet .data i.acode {
    margin-top: 1mm;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2mm;
    color: #4e4e4e;
    letter-spacing: 1mm;
}